//colores
$grisClaro: #EFEFEF;
$blanco: #fff;
$verde: #A0C76A;
$celeste: #74B0D1;
$negro: #000;

//tipografias

$MPlusRounded1c: 'M PLUS Rounded 1c', sans-serif;
$medium: 500;
$bold: 700;
$Montserrat: 'M PLUS Rounded 1c', sans-serif, 'Montserrat', sans-serif;
$medium: 500;
$light: 300;
$regular: 400;